/*-- scss:defaults --*/

//colors
$ivory: #fffff0
$navy: #003366
$alice-blue: #f0f8ff

//Base document colors
$body-bg: $ivory;             //page background: 
$navbar-bg: $navy;          //navbar
$navbar-fg: $ivory;           //navbar foreground
$navbar-hl: $alice-blue;      //highloght color when hovering

//font

$font-family-base: Merryweather
